/* ==========================================================================
   ==========================================================================
   GENERAL CHUNK HELPERS
   ==========================================================================
   ========================================================================== */

/* Display helpers
   ========================================================================== */
@mixin helper--flex () {
    display: flex;
}
@mixin helper--inline-flex () {
    display: inline-flex;
}
@mixin helper--flex--wrap () {
    display: flex;
    flex-wrap: wrap;
}
@mixin helper--inline-flex--wrap () {
    display: inline-flex;
    flex-wrap: wrap;
}
@mixin helper--flex--column () {
    display: flex;
    flex-direction: column;
}
@mixin helper--inline-flex--column () {
    display: inline-flex;
    flex-direction: column;
}

/* Align helpers
   ========================================================================== */
@mixin helper--align--start () {
    align-items: flex-start;
    align-content: flex-start;
}
@mixin helper--align--center () {
    align-items: center;
    align-content: center;
}
@mixin helper--align--end () {
    align-items: flex-end;
    align-content: flex-end;
}
@mixin helper--align--space-between () {
    align-items: flex-start;
    align-content: space-between;
}
@mixin helper--align--space-around () {
    align-items: flex-start;
    align-content: space-around;
}
@mixin helper--align--stretch () {
    align-items: stretch;
    align-content: stretch;
}

/* Justify helpers
   ========================================================================== */
@mixin helper--justify--start () {
    justify-content: flex-start;
}
@mixin helper--justify--center () {
    justify-content: center;
}
@mixin helper--justify--end () {
    justify-content: flex-end;
}
@mixin helper--justify--space-between () {
    justify-content: space-between;
}
@mixin helper--justify--space-around () {
    justify-content: space-around;
}


/* ==========================================================================
   ==========================================================================
   FLEX HELPERS
   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   Flex row helpers
   ========================================================================== */

/* flex row horizontal to left
   ========================================================================== */
@mixin helper--flex--left--top () {
    @include helper--flex;    
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--flex--left--center () {
    @include helper--flex;    
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--flex--left--bottom () {
    @include helper--flex;    
    @include helper--justify--start;
    @include helper--align--end;
}
@mixin helper--flex--left--stretch () {
    @include helper--flex;
    @include helper--justify--start;
    @include helper--align--stretch;
}
@mixin helper--flex--left--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-between;
}
@mixin helper--flex--left--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-around;
}

/* flex row horizontal centered
   ========================================================================== */
@mixin helper--flex--center--top () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--flex--center--center () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--flex--center--bottom () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--end;
}
@mixin helper--flex--center--stretch () {
    @include helper--flex;
    @include helper--justify--center;
    @include helper--align--stretch;
}
@mixin helper--flex--center--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-between;
}
@mixin helper--flex--center--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-around;
}

/* flex row horizontal to right
   ========================================================================== */
@mixin helper--flex--right--top () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--flex--right--center () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--flex--right--bottom () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--end;
}
@mixin helper--flex--right--stretch () {
    @include helper--flex;
    @include helper--justify--end;
    @include helper--align--stretch;
}
@mixin helper--flex--right--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-between;
}
@mixin helper--flex--right--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-around;
}

/* flex row horizontal space between
   ========================================================================== */
@mixin helper--flex--space-between--top () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--flex--space-between--center () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--flex--space-between--bottom () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--end;
}
@mixin helper--flex--space-between--stretch () {
    @include helper--flex;
    @include helper--justify--space-between;
    @include helper--align--stretch;
}
@mixin helper--flex--space-between--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-between;
}
@mixin helper--flex--space-between--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-around;
}

/* flex row horizontal space around
   ========================================================================== */
@mixin helper--flex--space-around--top () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--flex--space-around--center () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--flex--space-around--bottom () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--end;
}
@mixin helper--flex--space-around--stretch () {
    @include helper--flex;
    @include helper--justify--space-around;
    @include helper--align--stretch;
}
@mixin helper--flex--space-around--space-between () {
    @include helper--flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-between;
}
@mixin helper--flex--space-around--space-around () {
    @include helper--flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-around;
}

/* ==========================================================================
   Flex column helpers
   ========================================================================== */

/* flex column vertical to top
   ========================================================================== */
@mixin helper--flex--top--left () {
    @include helper--flex--column;    
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--flex--top--center () {
    @include helper--flex--column;    
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--flex--top--right () {
    @include helper--flex--column;
    @include helper--justify--start;
    @include helper--align--end;
}

/* flex column vertical centered
   ========================================================================== */
@mixin helper--flex--center--left () {
    @include helper--flex--column;    
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--flex--center--center--column () {
    @include helper--flex--column;    
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--flex--center--right () {
    @include helper--flex--column;
    @include helper--justify--center;
    @include helper--align--end;
}

/* flex column vertical to bottom
   ========================================================================== */
@mixin helper--flex--bottom--left () {
    @include helper--flex--column;    
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--flex--bottom--center () {
    @include helper--flex--column;    
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--flex--bottom--right () {
    @include helper--flex--column;
    @include helper--justify--end;
    @include helper--align--end;
}

/* flex column vertical space between
   ========================================================================== */
@mixin helper--flex--space-between--left () {
    @include helper--flex--column;    
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--flex--space-between--center () {
    @include helper--flex--column;    
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--flex--space-between--right () {
    @include helper--flex--column;
    @include helper--justify--space-between;
    @include helper--align--end;
}

/* flex column vertical space auround
   ========================================================================== */
@mixin helper--flex--space-around--left () {
    @include helper--flex--column;    
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--flex--space-around--center () {
    @include helper--flex--column;    
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--flex--space-around--right () {
    @include helper--flex--column;
    @include helper--justify--space-around;
    @include helper--align--end;
}


/* ==========================================================================
   ==========================================================================
   INLINE-FLEX HELPERS
   ==========================================================================
   ========================================================================== */

/* ==========================================================================
   Inline-flex row helpers
   ========================================================================== */

/* inline-flex row horizontal to left
   ========================================================================== */
@mixin helper--inline-flex--left--top () {
    @include helper--inline-flex;    
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--inline-flex--left--center () {
    @include helper--inline-flex;    
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--inline-flex--left--bottom () {
    @include helper--inline-flex;    
    @include helper--justify--start;
    @include helper--align--end;
}
@mixin helper--inline-flex--left--stretch () {
    @include helper--inline-flex;
    @include helper--justify--start;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--left--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--left--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--start;
    @include helper--align--space-around;
}

/* inline-flex row horizontal centered
   ========================================================================== */
@mixin helper--inline-flex--center--top () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--inline-flex--center--center () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--inline-flex--center--bottom () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--end;
}
@mixin helper--inline-flex--center--stretch () {
    @include helper--inline-flex;
    @include helper--justify--center;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--center--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--center--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--center;
    @include helper--align--space-around;
}

/* inline-flex row horizontal to right
   ========================================================================== */
@mixin helper--inline-flex--right--top () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--inline-flex--right--center () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--inline-flex--right--bottom () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--end;
}
@mixin helper--inline-flex--right--stretch () {
    @include helper--inline-flex;
    @include helper--justify--end;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--right--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--right--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--end;
    @include helper--align--space-around;
}

/* inline-flex row horizontal space between
   ========================================================================== */
@mixin helper--inline-flex--space-between--top () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-between--center () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-between--bottom () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--end;
}
@mixin helper--inline-flex--space-between--stretch () {
    @include helper--inline-flex;
    @include helper--justify--space-between;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--space-between--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--space-between--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-between;
    @include helper--align--space-around;
}

/* inline-flex row horizontal space around
   ========================================================================== */
@mixin helper--inline-flex--space-around--top () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-around--center () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-around--bottom () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--end;
}
@mixin helper--inline-flex--space-around--stretch () {
    @include helper--inline-flex;
    @include helper--justify--space-around;
    @include helper--align--stretch;
}
@mixin helper--inline-flex--space-around--space-between () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-between;
}
@mixin helper--inline-flex--space-around--space-around () {
    @include helper--inline-flex--wrap;
    @include helper--justify--space-around;
    @include helper--align--space-around;
}

/* ==========================================================================
   Inline-flex column helpers
   ========================================================================== */

/* inline-flex column vertical to top
   ========================================================================== */
@mixin helper--inline-flex--top--left () {
    @include helper--inline-flex--column;    
    @include helper--justify--start;
    @include helper--align--start;
}
@mixin helper--inline-flex--top--center () {
    @include helper--inline-flex--column;    
    @include helper--justify--start;
    @include helper--align--center;
}
@mixin helper--inline-flex--top--right () {
    @include helper--inline-flex--column;
    @include helper--justify--start;
    @include helper--align--end;
}

/* inline-flex column vertical centered
   ========================================================================== */
@mixin helper--inline-flex--center--left () {
    @include helper--inline-flex--column;    
    @include helper--justify--center;
    @include helper--align--start;
}
@mixin helper--inline-flex--center--center--column () {
    @include helper--inline-flex--column;    
    @include helper--justify--center;
    @include helper--align--center;
}
@mixin helper--inline-flex--center--right () {
    @include helper--inline-flex--column;
    @include helper--justify--center;
    @include helper--align--end;
}

/* inline-flex column vertical to bottom
   ========================================================================== */
@mixin helper--inline-flex--bottom--left () {
    @include helper--inline-flex--column;    
    @include helper--justify--end;
    @include helper--align--start;
}
@mixin helper--inline-flex--bottom--center () {
    @include helper--inline-flex--column;    
    @include helper--justify--end;
    @include helper--align--center;
}
@mixin helper--inline-flex--bottom--right () {
    @include helper--inline-flex--column;
    @include helper--justify--end;
    @include helper--align--end;
}

/* inline-flex column vertical space between
   ========================================================================== */
@mixin helper--inline-flex--space-between--left () {
    @include helper--inline-flex--column;    
    @include helper--justify--space-between;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-between--center () {
    @include helper--inline-flex--column;    
    @include helper--justify--space-between;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-between--right () {
    @include helper--inline-flex--column;
    @include helper--justify--space-between;
    @include helper--align--end;
}

/* inline-flex column vertical space around
   ========================================================================== */
@mixin helper--inline-flex--space-around--left () {
    @include helper--inline-flex--column;    
    @include helper--justify--space-around;
    @include helper--align--start;
}
@mixin helper--inline-flex--space-around--center () {
    @include helper--inline-flex--column;    
    @include helper--justify--space-around;
    @include helper--align--center;
}
@mixin helper--inline-flex--space-around--right () {
    @include helper--inline-flex--column;
    @include helper--justify--space-around;
    @include helper--align--end;
}

